@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1573807028622'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1573807028622#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1573807028622') format('woff'),
  url('../fonts/iconfont.ttf?t=1573807028622') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1573807028622#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before {
  content: "\e680";
}

.icon-pingguo:before {
  content: "\e60b";
}

.icon-weixin:before {
  content: "\e628";
}

.icon-bangzhuzhongxin:before {
  content: "\e652";
}

.icon-refresh:before {
  content: "\e615";
}

.icon-QQ:before {
  content: "\e6e3";
}

.icon-Opinion:before {
  content: "\e613";
}

.icon-qq:before {
  content: "\e6ca";
}

.icon-baseline-close-px:before {
  content: "\e616";
}

.icon-nickname:before {
  content: "\e6a0";
}

.icon-xianxingtubiao_huaban:before {
  content: "\e605";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-icon-test2:before {
  content: "\e63b";
}

.icon-icon-test3:before {
  content: "\e63c";
}

.icon-icon-test4:before {
  content: "\e658";
}

.icon-icon-test5:before {
  content: "\e659";
}

.icon-icon-test6:before {
  content: "\e65a";
}

.icon-icon-test7:before {
  content: "\e65b";
}

.icon-Android:before {
  content: "\e60e";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-weibo:before {
  content: "\e8bb";
}

.icon-wode:before {
  content: "\e8bc";
}

.icon-weixin1:before {
  content: "\e8bd";
}


